<!doctype html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{setting.siteInfo.metaDescription}}">
    <meta name="keywords" content="{{#each setting.siteInfo.metaKeywords }}{{this}}{{#unless @last}}, {{/unless}}{{/each}}">
    <meta name="author" content="{{setting.siteInfo.metaAuthor}}">
    <meta name="theme-color" content="{{setting.siteInfo.metaThemeColor}}" />
    {{> component-critical }}
    {{> component-styles }}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{root}}{{setting.siteInfo.favicon}}" type="image/x-icon">
    <!-- Touch icon -->
    <link rel="apple-touch-icon-precomposed" href="{{root}}{{setting.siteInfo.touchIcon}}">
    <title>{{title}} - {{setting.siteInfo.pageTitle}}</title>
</head>

<body>
    {{> component-page-loader }}
    {{> component-header }}
    {{> body }}
    {{> component-footer }}
    {{> component-totop }}
    {{> component-scripts }}
</body>

</html>