{{!-- Text block --}}
{{#ifequal this.type "paragraph"}}
<p>{{{this.data.text}}}</p>
{{/ifequal}}
{{!-- Heading block --}}
{{#ifequal this.type "header"}}
    {{~#ifequal this.data.level 1~}}<h1 class="fw-bold mb-1">{{this.data.text}}</h1>{{/ifequal}}
    {{~#ifequal this.data.level 2~}}<h2 class="fw-bold mb-1">{{this.data.text}}</h2>{{/ifequal}}
    {{~#ifequal this.data.level 3~}}<h3 class="fw-bold mb-1">{{this.data.text}}</h3>{{/ifequal}}
    {{~#ifequal this.data.level 4~}}<h4 class="fw-bold mb-1">{{this.data.text}}</h4>{{/ifequal}}
    {{~#ifequal this.data.level 5~}}<h5 class="fw-bold mb-1">{{this.data.text}}</h5>{{/ifequal}}
{{/ifequal}}
{{!-- Image block --}}
{{#ifequal this.type "image"}}
<figure class="figure my-3">
    <img src="{{@root.root}}{{this.data.file.url}}" class="img-fluid{{#unless this.data.caption}} mb-2{{/unless}}"{{#if this.data.caption}} alt="{{this.data.caption}}"{{/if}}>
    {{#if this.data.caption}}
    <figcaption class="figure-caption text-center text-muted py-1">{{this.data.caption}}</figcaption>
    {{/if}}
</figure>
{{/ifequal}}
{{!-- List block --}}
{{#ifequal this.type "list"}}
    {{#ifequal this.data.style "ordered"}}
    <ol class="lh-lg">
        {{#each this.data.items}}<li>{{this}}</li>{{/each}}
    </ol>
    {{/ifequal}}
    {{#ifequal this.data.style "unordered"}}
    <ul class="lh-lg">
        {{#each this.data.items}}<li>{{this}}</li>{{/each}}
    </ul>
    {{/ifequal}}
{{/ifequal}}
{{!-- Blockquote block --}}
{{#ifequal this.type "quote"}}
<figure class="my-4 px-5{{#ifequal this.data.alignment "center"}} text-center{{/ifequal}}">
    <blockquote class="blockquote blockquote-border">
        <p>{{this.data.text}}</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        {{this.data.caption}}
    </figcaption>
</figure>
{{/ifequal}}
{{!-- Table block --}}
{{#ifequal this.type "table"}}
<table class="table table-bordered my-3">
    {{#each this.data.content}}
        <tbody>
            <tr>
                {{#each this}}
                <td>{{this}}</td>
                {{/each}}
            </tr>
        </tbody>
    {{/each}}
</table>
{{/ifequal}}
{{!-- Youtube block --}}
{{#ifequal this.type "youtubeEmbed"}}
<div class="youtube-wrapper">
    <iframe src="https://www.youtube.com/embed/{{this.data.id}}?controls=0" frameborder="0" allowfullscreen="true"></iframe>
</div>
{{/ifequal}}